body{
color: rgb(40, 40, 40);
background: cornsilk;
}
header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(100, 29, 96);
    background-color: rgb(175, 51, 144);
}
.chamada{
    background: rgb(180, 124, 243);
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}
.chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}